@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 1rem;
  }

  * {
    @apply border-neutral-200 dark:border-neutral-800;
  }

  html {
    @apply antialiased bg-[#FDFCFA] overscroll-none overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
  }

  html.dark {
    @apply bg-[#0D0D0D];
  }

  body {
    @apply bg-[#FDFCFA] text-[#1A1A1A] overscroll-none overflow-x-hidden;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .dark body {
    @apply bg-[#0D0D0D] text-white;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}